/* body {
  /* height: 100vh; */
  /* margin: 0;
  padding: 0; */
  /* overflow: hidden; */
/* }*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */
.custom-background {
  background-color: #1E1E1E; /* Replace with your desired background color */
}

.custom-color {
  background-color: #272822 !important;
}

.text-font {
  font: 'Courier New';
  color: palevioletred;
}

.title-font {
  font: 'Courier New' !important;
  color:aqua !important;
}
